body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(132, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card{
    background: rgb(30, 139, 153);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgb(1, 42, 48);
    width: 378px;
}
.Welcome{
    text-align: center;
    color: #ffffff;
}
form{ display: flex;
flex-direction: column;

}


label{ font-size: 18px;
font-weight: 800px;
color: rgb(255, 255, 255);
}

input{

    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;

}

button{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;

}
button:hover{
    background-color: rgb(0, 48, 151);
}